<html lang="en">
<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link href="../../../assets/login/css/bootstrap.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="../../../assets/login/css/register.css" rel="stylesheet" />
    <!--===============================================================================================-->
</head>
<body>

    <div class="container" style="padding:10%">
        <div class="row">
            <div class="col-lg-10 col-xl-9 mx-auto">
                <div class="card card-signin flex-row my-5">
                   
                    <div class="card-body">
                        <h5 class="card-title text-center">Đăng nhập</h5>
                        <div class="form-signin">
                            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit"
                                    ng-click="adminLogin()">
                                Chủ cửa hàng đăng nhập
                            </button>
                            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit"
                                    ng-click="crashierLogin()">
                                Nhân viên thu ngân đăng nhập
                            </button>
                            <!--<a class="d-block text-center mt-2 small" ui-sref="register">Đăng ký</a>-->
                            <!--<hr class="my-4">-->
                            <!--<button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i> Sign up with Google</button>-->
                            <!--<button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fab fa-facebook-f mr-2"></i> Sign up with Facebook</button>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--===============================================================================================-->
    <script src="../../../assets/login/js/popper.min.js"></script>
    <script src="../../../assets/login/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
</body>
</html>