<html lang="en">
<head>
    <title>Register</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link href="../../../assets/login/css/bootstrap.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="../../../assets/login/css/register.css" rel="stylesheet" />
    <!--===============================================================================================-->
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-9 mx-auto">
                <div class="card card-signin flex-row my-5">
                    <div class="card-img-left d-none d-md-flex">
                        <!-- Background image for card set in CSS! -->
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center">Tạo tài khoản</h5>
                        <form class="form-signin" ng-submit="registerSubmit()">
                            <div class="form-label-group">
                                <input type="text" id="fullName" class="form-control" maxlength="256" placeholder="Họ và tên" required autofocus ng-model="registerData.FullName">
                                <label for="fullName">* Họ và tên</label>
                            </div>


                            <div class="form-label-group">
                                <input type="date" id="DOB" name="BOD" max="{{registerData.BirthDay | date:'yyyy-MM-dd'}}" class="form-control" placeholder="Ngày sinh" required autofocus ng-model="registerData.BirthDay">
                                <label for="DOB">* Ngày sinh</label>
                            </div>

                            <div class="form-label-group">
                                <input type="text" id="Address" class="form-control" placeholder="Địa chỉ" required autofocus ng-model="registerData.Address">
                                <label for="Address">Địa chỉ</label>
                            </div>

                            <!--<div class="form-label-group">
                                <input type="email" id="inputEmail" class="form-control" placeholder="Email" required ng-model="Email">
                                <label for="inputEmail">Email</label>
                            </div>-->

                            <div class="form-label-group">
                                <input type="number" maxlength="11" id="phoneNumber" class="form-control" placeholder="Số điện thoại" required ng-model="registerData.PhoneNumber">
                                <label for="phoneNumber">Số điện thoại</label>
                            </div>
                            <!--<hr>-->
                            <div class="form-label-group">
                                <input type="text" id="userName" class="form-control" maxlength="50" placeholder="Tên đăng nhập" required autofocus ng-model="registerData.UserName">
                                <label for="userName">* Tên đăng nhập</label>
                            </div>

                            <div class="form-label-group">
                                <input type="password" id="PSW" class="form-control" maxlength="50" placeholder="Mật khẩu" required ng-model="psw">
                                <label for="PSW">* Mật khẩu</label>
                            </div>

                            <div class="form-label-group">
                                <input type="password" id="rePSW" class="form-control" maxlength="50" placeholder="Nhập lại mật khẩu" required ng-model="rePsw">
                                <label for="rePSW">* Nhập lại mật khẩu</label>
                            </div>


                            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Đăng ký</button>
                            <a class="d-block text-center mt-2 small" ui-sref="login">Đăng nhập</a>
                            <!--<hr class="my-4">-->
                            <!--<button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i> Sign up with Google</button>-->
                            <!--<button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fab fa-facebook-f mr-2"></i> Sign up with Facebook</button>-->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    <script src="../../../assets/login/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="../../../assets/login/js/popper.min.js"></script>
    <script src="../../../assets/login/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->



</body>
</html>