<div class="main-card mb-3 card">
    <div class="card-body">
        <h4 class="card-title customize-font-blue-color">Chi tiết hóa đơn </h4>


        <div class="table-responsive">
            <table class="mb-0 table mb-0 table table-hover">
                <thead>
                    <tr>
                        <th>Mã</th>
                        <th>Mặt hàng</th>
                        <th>Số lượng</th>
                        <th>Đơn giá</th>
                        <th>Thành tiền</th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="item in billDetails |itemsPerPage:10">
                        <td>{{item.ID}}</td>
                        <td>{{item.Name}}</td>
                        <td>{{item.Amount}}</td>
                        <td>{{item.Price}}</td>
                        <td>{{item.Amount*item.Price}}</td>
                    </tr>
                </tbody>
            </table>
            <dir-pagination-controls max-size="5"
                                     direction-links="true"
                                     boundary-links="true">
            </dir-pagination-controls>
        </div>

        <div class="div-footer-billdetail" style="text-align:right!important">
            <div class="row1" style=" margin:2px;">
                <label style="text-align:right; width:70%" class="customize-font-blue-color">
                    Tạo bởi: {{currentBill.CreatedBy}}  Tổng tiền : {{currentBill.Price}}
                </label>
            </div>
            <div class="row2" style=" margin:2px;">
                <label style="text-align:right; width:70%" class="customize-font-blue-color">
                    Mã giảm giá: {{currentBill.Voucher}}   Giảm giá : {{currentBill.Discount}} %
                </label>
            </div>
            <div class="row3" style=" margin:2px;">
                <label style="text-align:right; width:70%" class="customize-font-blue-color">
                    Khách hàng: {{currentBill.CustomerName}}
                </label>
            </div>
            <div class="row3" style=" margin:2px;">
                <label style="text-align:right; width:70%" class="customize-font-blue-color">
                    Thời gian : {{currentBill.CreatedDate | date:' hh : ss'}}  Ngày : {{currentBill.CreatedDate | date:'dd-MM-yyyy'}}
                </label>
            </div>
            <div class="row4" style=" margin:2px;">
                <label style="text-align:right; width:70%" class="customize-font-blue-color">
                    Nội dung : {{currentBill.Content}}
                </label>
            </div>
        </div>

    </div>
</div>


