<div class="main-card mb-3 card">
    <div class="card-body">
        <h4 class="card-title customize-font-blue-color">Chi tiết hóa đơn Khách hàng: &nbsp; {{currentBill.CustomerName}}</h4>
        <div class="row3" style=" margin:2px;">
            <label style="text-align:right; width:100%" class="customize-font-blue-color">
                Thời gian : {{currentBill.CreatedDate | date:' hh : mm'}}  Ngày : {{currentBill.CreatedDate | date:'dd-MM-yyyy'}}
            </label>
        </div>

        <div class="table-responsive" style="height:auto; max-height:350px; overflow:auto">
            <table class="mb-0 table mb-0 table table-hover">
                <thead>
                    <tr class="customize-font-blue-color">
                        <th style="width:5%"><i class="fas fa-sort-down"></i></th>
                        <th style="width:30%">Mặt hàng</th>
                        <th style="width:15%; text-align:center">Số lượng</th>
                        <th style="width:25%; text-align:center">Đơn giá</th>
                        <th style="width:25%; text-align:center">Thành tiền</th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="item in billDetails |itemsPerPage:itemPerPage" on-page-change='indexCountBillDetails(newPageNumber)'>
                        <td>{{$index + serialBillDetails}}</td>
                        <td>{{item.Name}}</td>
                        <td style="text-align:center">{{item.Amount}}</td>
                        <td style="text-align:center">{{item.Price | currency:"":0}}</td>
                        <td style="text-align:center">{{item.Amount*item.Price | currency:"":0}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="div-footer-billdetail" style="text-align:right!important">
            <div class="row2" style=" margin:2px;">
                <label style="text-align:left; width:40%" class="customize-font-blue-color">
                    Giảm giá: {{currentBill.Discount}} %
                </label>
            </div>
            <div class="row1" style=" margin:2px;">
                <label style="text-align:left; width:40%" class="customize-font-blue-color">
                    Tổng tiền : {{currentBill.Total | currency:"₫ ":0}}
                </label>
            </div>
            <div class="row4" style=" margin:2px;">
                <label style="text-align:left; width:40%" class="customize-font-blue-color">
                    Nội dung : {{currentBill.Content}}
                </label>
            </div>
        </div>

    </div>
</div>


