<div class="main-card mb-3 card" ng-controller="listBillController">
    <div class="card-body">
        <div></div>
        <h4 class="card-title customize-font-blue-color">Danh sách hóa đơn {{title}}</h4>

        <div class="nav-table-bar-parent"> 
            <div class="div-currentDate">
                <div class="divUser">
                    <label class="cornflowerblue">Xem hóa đơn trong: </label>
                    <select name="dishCategory" class="customize-DateInput cornflowerblue"
                            ng-change="selectEvent()"
                            ng-model="userOption" ng-options="option.key as option.val for option in options">
                        <option selected disabled value="">-- Thời gian --</option>
                    </select>
                </div>
            </div>
            <div class="div-datePicker">
                <div class="div1">
                    <label class="cornflowerblue">Từ ngày: </label>
                    <span>
                        <input class="customize-DateInput cornflowerblue" type="date" name="fromDate"
                               ng-change="cusDateEvent()" ng-model="dateSeclect.from" />
                    </span>
                </div>
                <div class="div2">
                    <label class="cornflowerblue ">Đến: </label>
                    <input class="customize-DateInput cornflowerblue"  type="date" name="toDate"
                           ng-model="dateSeclect.to" ng-change="cusDateEvent()" />
                </div>
            </div>

        </div>

        <h4 class="cornflowerblue countTotolRow">Tổng số hóa đơn: {{countBill}}</h4>
        <div class="table-responsive">
            <table class="mb-0 table mb-0 table table-hover">
                <thead>
                    <tr class="cornflowerblue">
                        <th style="width:2%" ng-click="sort('$index')"><i class="fas fa-sort-down"></i></th>
                        <th style="width:10%">Khách hàng</th>
                        <th style="width:10%">Mã giảm giá</th>
                        <th style="width:5%">Bàn</th>
                        <th style="width:10%">Tạo bởi</th>
                        <th style="width:5%">Giảm %</th>
                        <th style="width:15%">Nội dung</th>
                        <th style="width:10%" ng-click="sort('CreatedDate')">Ngày tạo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-click="billDetailEvent(item)"
                        dir-paginate="item in bills |filter:search |orderBy:sortKey:reverse|filter:search |itemsPerPage:itemPerPage">
                        <td>{{$index + serial}}</td>
                        <td>{{item.CustomerName}}</td>
                        <td>{{item.Voucher | voucherFilter}}</td>
                        <td>{{item.TableID}}</td>
                        <td>{{item.CreatedBy}}</td>
                        <td>{{item.Discount | percentFilter}}</td>
                        <td>{{item.Content}}</td>
                        <td style="text-align:left">{{item.CreatedDate | date:'dd-MM-yyyy'}}</td>
                    </tr>
                </tbody>
            </table>

            <div class="customeize-pagination">
                <dir-pagination-controls max-size="5" on-page-change='indexCount(newPageNumber)'
                                         direction-links="true"
                                         boundary-links="true">
                </dir-pagination-controls>
            </div>

        </div>
    </div>
</div>