<!DOCTYPE html>

<html>
<head>

    <title>Trang chủ</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <meta name="msapplication-tap-highlight" content="no">
    <link href="~/assets/css/toastr.css" rel="stylesheet" />
    <link href="~/lib/angular-loading-bar/loading-bar.css" rel="stylesheet" />
    <link href="~/assets/css/ngDialog.css" rel="stylesheet" />
    <link href="~/assets/css/alertify.rtl.css" rel="stylesheet" />
    <link href="~/lib/AlertifyJS/css/themes/default.rtl.css" rel="stylesheet" />

    <link href="~/lib/Chart.js/Chart.css" rel="stylesheet" />

    <link href="~/assets/css/main.css" rel="stylesheet" />
    <link href="~/assets/css/style.css" rel="stylesheet" />
    <link href="~/assets/css/customize.css" rel="stylesheet" />

</head>
<body ng-app="SmartOrder" ng-controller="rootController">

    <div ui-view></div>


    <script src="~/lib/jquery/jquery.min.js"></script>
    <!--Embed Bootstrap-->
    <link href="~/assets/css/bootstrap-theme.min.css" rel="stylesheet" />
    <!--Embed Angular JS-->
    <script src="~/lib/angular.js/angular.js"></script>
    <script src="~/lib/angular-ui-router/angular-ui-router.js"></script>
    <script src="~/lib/Chart.js/Chart.min.js"></script>
    <script src="~/lib/Chart.js/Chart.bundle.min.js"></script>
    <script src="~/lib/toastr.js/toastr.min.js"></script>
    <script src="~/lib/angular-local-storage/angular-local-storage.js"></script>
    <script src="~/lib/angular-loading-bar/loading-bar.js"></script>
    <script src="~/lib/AlertifyJS/alertify.js"></script>
    <script src="~/app/shared/modules/SmartOrder.common.js"></script>
    <script src="~/app/shared/services/notificationService.js"></script>
    <script src="~/app/shared/services/authData.js"></script>
    <script src="~/app/shared/services/authenticationService.js"></script>
    <script src="~/app/shared/services/loginService.js"></script>

    <script src="~/app/shared/services/imgUpload.js"></script>

    <script src="~/lib/ng-dialog/js/ngDialog.js"></script>
    <script src="~/assets/scripts/dirPagination.js"></script>
    <!--Embed filter-->
    <script src="~/app/shared/filters/statusFilter.js"></script>
    <script src="~/app/shared/filters/orderCountFilter.js"></script>
    <script src="~/app/shared/filters/voucherFilter.js"></script>
    <script src="~/app/shared/filters/percentFilter.js"></script>
    <script src="~/app/shared/filters/avaiableFilter.js"></script>
    <script src="~/app/components/dishes/dishes.module.js"></script>
    <script src="~/app/app.js"></script>
    <script src="~/app/shared/services/apiService.js"></script>
    <script src="~/app/components/home/rootController.js"></script>
    <!--dishes controller js-->
    <script src="~/app/components/dishes/dishAddController.js"></script>
    <script src="~/app/components/dishes/dishEditsController.js"></script>
    <script src="~/app/components/dishes/dishListController.js"></script>
    <script src="~/app/components/home/homeController.js"></script>
    <!--material controller js-->
    <script src="~/app/components/materials/materials.module.js"></script>
    <script src="~/app/components/materials/materialAddController.js"></script>
    <script src="~/app/components/materials/materialEditsController.js"></script>
    <script src="~/app/components/materials/listMaterialController.js"></script>
    <!--restaurants controller js-->
    <script src="~/app/components/restaurant/restaurant.module.js"></script>
    <script src="~/app/components/restaurant/listBillController.js"></script>
    <script src="~/app/components/restaurant/revenusController.js"></script>
    <script src="~/app/components/restaurant/tableController.js"></script>
    <!--Serivecs controller js-->
    <script src="~/app/components/services/services.module.js"></script>
    <script src="~/app/components/services/comboController.js"></script>
    <script src="~/app/components/services/promotionListController.js"></script>
    <script src="~/app/components/services/promotionEditsController.js"></script>
    <script src="~/app/components/services/promotionAddController.js"></script>
    <script src="~/app/components/services/comboAddController.js"></script>
    <script src="~/app/components/services/comboEditsController.js"></script>
    <!--Login and home controller js-->
    <script src="~/app/components/login/loginController.js"></script>
    <script src="~/app/shared/views/baseController.js"></script>
    <!--End-->
</body>
</html>