<div class="main-card mb-3 card" style="border:hidden">
    <div class="card-body">
        <h4 class="card-title customize-font-blue-color"> Thêm tài khoản mới </h4>
        <form class="" novalidate name="frmAddAccount" role="form">

            <div class="position-relative form-group">
                <label class="">Tên nhân viên</label>
                <input required name="FullName" type="text" class="form-control" ng-model="accAdd.FullName">
                <span ng-show="frmAddAccount.FullName.$invalid" class="had-error">*Vui lòng điền họ và tên nhân viên</span>
            </div>

            <div class="position-relative form-group">
                <label class="">Số điện thoại</label>
                <input required name="PhoneNumber" type="tel" class="form-control" ng-model="accAdd.PhoneNumber">
                <span ng-show="frmAddAccount.PhoneNumber.$invalid" class="had-error"></span>
            </div>

            <div class="position-relative form-group">
                <label class="">Địa chỉ</label>
                <input name="Address" type="text" class="form-control" ng-model="accAdd.Address">
                <!--<span ng-show="frmAddAccount.Address.$invalid" class="had-error">*Vui lòng điền địa chỉ</span>-->
            </div>

            <div class="position-relative form-group">
                <label class="">Ngày sinh:</label>
                <input required name="BirthDay" type="date" class="form-control" ng-model="accAdd.BirthDay">
                <span ng-show="frmEdtPromotion.BirthDay.$invalid" class="had-error"></span>
            </div>

            <div class="position-relative form-group">
                <label class="">Tên đăng nhập </label>
                <input required name="UserName" minlength="6" maxlength="256" type="text" class="form-control" ng-model="accAdd.UserName">
                <span ng-show="frmAddAccount.UserName.$invalid" class="had-error">*Tên đăng nhập không hợp lệ (Yêu cầu độ dài trên 6 và không quá 256 ký tự)</span>
            </div>

            <div class="position-relative form-group">
                <label class="">Mật khẩu</label>
                <input required name="PassWord" minlength="6" maxlength="25" type="text" class="form-control" ng-model="accAdd.PassWord">
                <span ng-show="frmAddAccount.PassWord.$invalid" class="had-error">*Mật khẩu không hợp lệ (Yêu cầu độ dài trên 8 và không quá 25 ký tự)</span>
            </div>

            <!--<div class="position-relative form-group">
                <label class="">Nhập lại mật khẩu </label>
                <input required name="UserName" minlength="6" maxlength="256" type="text" class="form-control" ng-model="accAdd.UserName">
            </div>-->

            <div class="nav-table-bar-parent">
                <!--<div class="box-2">-->
                <button type="submit" ng-disabled="frmAddAccount.$invalid" class="mb-2 mr-2 btn btn-primary" ng-click="CreateAcc()">Thêm mới</button>
                <button class="mb-2 mr-2 btn btn-danger" style="margin-left:15px" ui-sref="list_account">Hủy bỏ</button>
                <!--</div>
        <div class="box-1">
        </div>
        <div class="box-3">
        </div>
        <div class="box-4">
        </div>-->
            </div>

        </form>
    </div>
</div>