<div class="main-card mb-3 card" style="border:hidden">
    <div class="card-body">
        <h4 class="card-title customize-font-blue-color"> Thêm tài khoản mới </h4>
        <form class="" novalidate name="frmEdtAccount" role="form">

            <div class="position-relative form-group">
                <label class="">Tên nhân viên</label>
                <input required name="fullName" type="text" class="form-control" ng-model="accEdt.FullName">
                <span ng-show="frmEdtAccount.fullName.$invalid" class="had-error">*Vui lòng điền họ và tên nhân viên</span>
            </div>

            <div class="position-relative form-group">
                <label class="">Số điện thoại</label>
                <input required name="phoneNumber" type="tel" class="form-control" ng-model="accEdt.PhoneNumber">
                <span ng-show="frmEdtAccount.phoneNumber.$invalid" class="had-error">*Vui lòng thêm số điện thoại</span>
            </div>

            <div class="position-relative form-group">
                <label class="">Địa chỉ</label>
                <input name="Address" type="text" class="form-control" ng-model="accEdt.Address">
                <!--<span ng-show="frmEdtAccount.Address.$invalid" class="had-error">*Vui lòng điền địa chỉ</span>-->
            </div>

            <div class="position-relative form-group">
                <label class="">Ngày sinh:</label>
                <input name="birthDay" type="date" class="form-control" ng-model="accEdt.BirthDay">
                <span ng-show="frmEdtAccount.birthDay.$invalid" class="had-error"></span>
            </div>

            <div class="position-relative form-group">
                <label class="">Tên đăng nhập </label>
                <input required name="userName" minlength="6" maxlength="25" type="text" class="form-control" ng-model="accEdt.UserName">
                <span ng-show="frmEdtAccount.userName.$invalid" class="had-error">*Tên đăng nhập phải có độ dài trên 6 và không quá 25 ký tự</span>
            </div>

            <div style="display:inline-flex">
                 <a ng-click="changerPSW()" class="nav-link pointer" style="color:#547adc;">
                     <i class="nav-link-icon fa fa-edit" style="color:#547adc;"></i>
                    Đổi mật khẩu </a>
            </div>
            
            <div id="divChangePassword" style="padding:10px 5% 10px 5%">

                <div class="form-label-group">
                    <label class="">* Mật khẩu hiện tại</label>
                    <input type="password" class="form-control"  ng-model="current">
                </div><br />

                <div class="form-label-group">
                    <label class="">* Mật khẩu</label>
                    <input type="password" class="form-control" minlength="9" maxlength="25" ng-model="newPsw">
                    <span ng-show="frmEdtAccount.PSW.$invalid" class="had-error">*Yêu cầu mật khẩu tối thiểu là 9 ký tự</span>
                </div><br />

                <div class="form-label-group">
                    <label for="rePSW">* Nhập lại mật khẩu</label>
                    <input type="password" class="form-control" ng-change="checkPSW()" ng-model="reNewPsw">
                    <label style="color:red">{{notification}}</label>
                </div>

                <div class="nav-table-bar-parent" style="padding-left:80%">
                    <!--<div class="box-2">-->
                    <button type="submit" class="mb-2 mr-2 btn btn-success" ng-click="updatePsw()">Cập nhật</button>
                    <button class="mb-2 mr-2 btn btn-danger" style="margin-left:15px" ng-click="changerPSW()">Hủy</button>

                </div>

            </div>

            <div class="position-relative form-group">
                <label>Phân quyền</label>
                <select name="role" class="form-control"
                        required ng-model="accEdt.role" ng-options="option.Id as option.Name for option in Roles">
                    <option selected disabled value="">-- Quyền --</option>
                </select>
                <span ng-show="frmEdtAccount.role.$error.required" class="had-error">*Vui lòng chọn quyền</span>
            </div>

            <div class="nav-table-bar-parent">
                <!--<div class="box-2">-->
                <button type="submit" ng-disabled="frmEdtAccount.$invalid" class="mb-2 mr-2 btn btn-primary" ng-click="updateAcc()">Lựu lại</button>
                <button class="mb-2 mr-2 btn btn-danger" style="margin-left:15px" ui-sref="list_account">Hủy bỏ</button>
                <!--</div>
                <div class="box-1">
                </div>
                <div class="box-3">
                </div>
                <div class="box-4">
                </div>-->
            </div>
        </form>
    </div>
</div>