<div class="cashier-main-parent" ng-controller="cashierHomeController">

    <div class="cashier-child-left column" ng-init="tabselector = 'listTable'">
        <!--header navigator bar right-->
        <div class="topnav">
            <div>
                <a href="javascript:void(0)" class="tab" ng-click="tabselector = 'listTable'">Bàn</a>
                <a href="javascript:void(0)" class="tab" ng-click="tabselector = 'listDish'">Món ăn</a>
                <a href="javascript:void(0)" class="tab" ng-click="tabselector = 'combo'">Combo</a>
            </div>
        </div>

        <!--content of left display table -->
        <div ng-if="tabselector == 'listTable'">
            <!--display list table-->
            <!--header to search table-->
            <div class="crashier-table-content">
                <div class="crashier-table-header">
                    <h4 class="card-title customize-font-green-color ng-binding">Danh sách bàn </h4>
                    <!--<div class="nav-table-bar-parent">
                    <div class="box-1">
                        <h4 class="card-title customize-font-green-color">THANH CÔNG CỤ</h4>
                    </div>
                    <div class="box-2">
                        <form class="search-wrapper active">
                            <div class="input-holder">
                                <div class="input-holder cornflowerblue">
                                    <input type="text" ng-model="search" class="search-input cornflowerblue" placeholder="Tìm kiếm">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="box-3">
                        <h4 class="card-title customize-font-green-color" style="float:right">Thêm món</h4>
                    </div>
                    <div class="box-4">
                        <button type="button" class="btn-shadow p-1 btn btn-primary" ng-click="dishAdd()">
                            <i class="fas fa-plus-circle"></i>
                        </button>
                    </div>
                    <div class="box-5">
                        <h4 class="card-title customize-font-green-color" style="float:right">Thêm loại sản phẩm  </h4>
                    </div>
                    <div class="box-6">
                        <button type="button" class="btn-shadow p-1 btn btn-primary" ng-click="AddCategory()">
                            <i class="fas fa-plus-circle"></i>
                        </button>
                    </div>
                </div>-->
                    <!--<form class="search-wrapper active">
                    <div class="input-holder">
                        <div class="input-holder">
                            <input type="text" ng-model="search" class="search-input" placeholder="Tìm kiếm">
                        </div>
                    </div>
                </form>-->
                </div>

                <div class="crashier-table-body">
                    <div class="crashier-table-row">
                        <div class="crashier-table-item" dir-paginate="item in tables |filter:search |itemsPerPage:18" pagination-id="tables">
                            <!--<img class="crashier-img" src="../../../assets/images/demo.jpg" />-->
                            <!--<img style="height:inherit; width:inherit; padding:2px" src="../../../assets/images/table.jpg" />-->
                            <img style="width:120px; height:120px" src="../../../assets/images/restaurant-table-and-chairs.svg" />
                            <div class="crashier-btn-title">
                                <span class="crashier-btn-choose"
                                      ng-class="{'mb-2 mr-2 btn btn-success':item.Status==1,
                                      'mb-2 mr-2 btn btn-danger':item.Status==0,
                                      'mb-2 mr-2 btn btn-warning':item.Status==2}"
                                      ng-click="showBill(item)">
                                    {{item.Name}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="cashier-table-footer">
                    <div class="customeize-pagination">
                        <dir-pagination-controls max-size="5"
                                                 direction-links="true"
                                                 pagination-id="tables"
                                                 boundary-links="true">
                        </dir-pagination-controls>
                    </div>
                </div>
            </div>
        </div>

        <!--dishplay the list dishes-->
        <div ng-if="tabselector == 'listDish'">
            <div class="crashier-table-content">
                <!--header to search table-->
                <div class="crashier-table-header">
                    <label class="card-title customize-font-green-color">Lọc món</label>
                    <form class="search-wrapper active">
                        <div class="input-holder">
                            <div class="input-holder">
                                <input type="text" ng-model="searchDish" class="search-input" placeholder="Tìm kiếm">
                            </div>
                        </div>
                    </form>
                </div>

                <div class="crashier-table-body">

                    <div class="crashier-table-row">
                        <div class="crashier-table-item" dir-paginate="DishItem in dishes |filter:searchDish |itemsPerPage:18" pagination-id="dishes">
                            <img class="crashier-img" src="../../../assets/images/demo.jpg" />
                            <div class="crashier-btn-title">
                                <span class="crashier-btn-choose"
                                      ng-class="{'mb-2 mr-2 btn btn-success':DishItem.Status==1,'mb-2 mr-2 btn btn-danger':DishItem.Status==0}"
                                      ng-click="addDish(DishItem)">
                                    {{DishItem.Name}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="cashier-table-footer">
                    <div class="customeize-pagination">
                        <dir-pagination-controls max-size="5"
                                                 direction-links="true"
                                                 pagination-id="dishes"
                                                 boundary-links="true">
                        </dir-pagination-controls>
                    </div>
                </div>
            </div>
        </div>

        <!--display the list combos-->
        <div ng-if="tabselector == 'combo'">
            <div class="crashier-table-content">
                <!--header to search table-->
                <div class="crashier-table-header">
                    <label class="card-title customize-font-green-color">Lọc combo</label>
                    <form class="search-wrapper active">
                        <div class="input-holder">
                            <div class="input-holder">
                                <input type="text" ng-model="searchCombo" class="search-input" placeholder="Tìm kiếm">
                            </div>
                        </div>
                    </form>
                </div>

                <div class="crashier-table-body">

                    <div class="crashier-table-row">
                        <div class="crashier-table-item" dir-paginate="comboItem in combos |filter:searchCombo |itemsPerPage:18" pagination-id="combos">
                            <img class="crashier-img" src="../../../assets/images/demo.jpg" />
                            <div class="crashier-btn-title">
                                <span class="crashier-btn-choose"
                                      ng-class="{'mb-2 mr-2 btn btn-success':comboItem.Status==1,'mb-2 mr-2 btn btn-danger':comboItem.Status==0}"
                                      ng-click="addCombo(comboItem)">
                                    {{comboItem.Name}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="cashier-table-footer">
                    <div class="customeize-pagination">
                        <dir-pagination-controls max-size="5"
                                                 direction-links="true"
                                                 pagination-id="combos"
                                                 boundary-links="true">
                        </dir-pagination-controls>
                    </div>
                </div>
            </div>
        </div>

    </div>



    <!--display the bill detail the left div-->
    <div class="cashier-child-right column">
        <div class="topnav">
            <a class="active" style="float:right" href="#home">Đăng xuất</a>
        </div>

        <div class="crashier-billDetail-content">

            <!--<div class="crashier-billDetail-header"></div>-->

            <div class="crashier-billDetail-body">

                <div class="mb-0 table table-striped">
                    <h5 class="card-title customize-font-green-color">Hóa đơn {{curTable.Name}}</h5>
                    <table class="mb-0 table mb-0 table table-hover">
                        <thead>
                            <tr>
                                <th style="width:10%" class="customize-font-green-color">STT</th>
                                <th style="width:25%" class="customize-font-green-color">Mặt hàng</th>
                                <th style="width:20%" class="customize-font-green-color">Số lượng</th>
                                <th style="width:20%" class="customize-font-green-color">Đơn giá</th>
                                <th style="width:20%" class="customize-font-green-color">Thành tiền</th>
                                <td style="width:10%"></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="customize-font-green-color"
                                dir-paginate="bill in curCart.CartDetails |itemsPerPage:itemPerPage" pagination-id="cartDetail" on-page-change='indexCount(newPageNumber)'>
                                <td>{{ $index + serial}}</td>
                                <td>{{bill.Name}}</td>
                                <td>
                                    <input class="crashier-cart-quantity" type="number"
                                           ng-change="quantityChange(bill)" ng-model="bill.Quantity">
                                </td>
                                <td>{{bill.Price}}</td>
                                <td>{{bill.Quantity*bill.Price}}</td>
                                <td>
                                    <button class="btn delete-icon" ng-click="dishDel(item)">
                                        <i class="fas fa-trash f1f8 customize-delete-icon"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="crashier-billDetail-bottom">
            <div class="crashier-billDetail-total">
                <div class="div-footer-billdetail">
                    <div class="row1" style="display:flex; margin:2px;">
                        <label style="text-align:right; width:25%" class="customize-font-green-color">
                            Tạo bởi: &nbsp;
                        </label>
                        <input  style="text-align:right; width:30%" class="customeize-input" type="text"
                               ng-model="CrashierName">
                        <label style="text-align:right; width:25%" class="customize-font-green-color">
                            Tổng tiền : {{totalPrice}}
                        </label>
                    </div>
                    <div class="row2" style="display:flex; margin:2px;">
                        <label style="text-align:right; width:25%" class="customize-font-green-color">
                            Mã giảm giá: &nbsp; 
                        </label>
                        <select style="text-align:right; width:30%" class="customize-font-green-color customeize-input"
                                ng-model="Promotions" ng-options="y.Code for (x, y) in promotions">
                            <option selected value="">Không</option>
                        </select>
                        <label style="text-align:right; width:25%" class="customize-font-green-color">
                            Giảm giá : {{Promotions.Discount | percentFilter}}
                        </label>
                    </div>
                    <div class="row3" style="display:flex; margin:2px;">
                        <label  style="text-align:right; width:25%" class="customize-font-green-color">
                            Khách hàng: &nbsp;
                        </label>
                        <input style="text-align:right; width:30%" class="customeize-input" type="text"
                                ng-model="CustomerName">
                        <label style="text-align:right; width:25%" class="customize-font-green-color">
                            Thanh toán : {{totalPrice}}
                        </label>
                    </div>
                    <div class="row4" style="display:flex; margin:2px;">
                        <label style="text-align:right; width:25%" class="customize-font-green-color">
                            Nội dung : &nbsp;
                        </label>
                        <input style="text-align:right; width:30%" class="customeize-input" type="text"
                               ng-model="ContentBill">
                        <label style="text-align:right; width:25%" class="customize-font-green-color">
                            Số tiền thừa : {{totalPrice - ((totalPrice/100)*Promotions.Discount)}}
                        </label>
                    </div>
                </div>
            </div>

            <div class=" crashier-billDetail-action">
                <div class="crashier-billDetail-action-lsBoxTB">
                    <select class="customize-font-green-color form-control"
                            ng-model="changeTable" ng-options="option.ID as option.Name for option in lsAvaiableTables">
                        <option selected disabled value="">Chuyển tới</option>
                    </select>
                </div>
                <div class="crashier-billDetail-action-changeTB">
                    <button class="mb-2 mr-2 btn btn-success" type="button" ng-click="changeTableEvt()">Chuyển bàn</button>
                </div>
                <div class="crashier-billDetail-action-order">
                    <button class="mb-2 mr-2 btn btn-success" style="margin-left:15px" type="button" ng-click="Order()">Đặt món</button>
                </div>
                <div class="crashier-billDetail-action-payment">
                    <button class="mb-2 mr-2 btn btn-danger" style="margin-left:15px" type="button" ng-click="Payment()">Thanh toán</button>
                </div>
            </div>
        </div>
    </div>
</div>