<div class="cashier-main-parent" ng-controller="cashierHomeController">

    <div class="cashier-child-left column" ng-init="tabselector = 'listTable'">
        <!--header navigator bar right-->
        <div class="topnav">
            <div>
                <a href="javascript:void(0)" class="" ng-click="tabselector = 'listTable'">Bàn</a>
                <a href="javascript:void(0)" class="tab" ng-click="tabselector = 'listDish'">Món ăn</a>
                <a href="javascript:void(0)" class="tab" ng-click="tabselector = 'combo'">Combo</a>
            </div>
        </div>

        <!--content of left display table -->
        <div ng-if="tabselector == 'listTable'">
            <!--display list table-->
            <!--header to search table-->
            <div class="crashier-table-content">
                <div class="crashier-table-header">
                    <h4 class="card-title customize-font-green-color ng-binding">Danh sách bàn </h4>
                    <!--<div class="nav-table-bar-parent">
                        <div class="box-1">
                            <h4 class="card-title customize-font-green-color">THANH CÔNG CỤ</h4>
                        </div>
                        <div class="box-2">
                            <form class="search-wrapper active">
                                <div class="input-holder">
                                    <div class="input-holder cornflowerblue">
                                        <input type="text" ng-model="search" class="search-input cornflowerblue" placeholder="Tìm kiếm">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="box-3">
                            <h4 class="card-title customize-font-green-color" style="float:right">Thêm món</h4>
                        </div>
                        <div class="box-4">
                            <button type="button" class="btn-shadow p-1 btn btn-primary" ng-click="dishAdd()">
                                <i class="fas fa-plus-circle"></i>
                            </button>
                        </div>
                        <div class="box-5">
                            <h4 class="card-title customize-font-green-color" style="float:right">Thêm loại sản phẩm  </h4>
                        </div>
                        <div class="box-6">
                            <button type="button" class="btn-shadow p-1 btn btn-primary" ng-click="AddCategory()">
                                <i class="fas fa-plus-circle"></i>
                            </button>
                        </div>
                    </div>-->
                    <!--<form class="search-wrapper active">
                        <div class="input-holder">
                            <div class="input-holder">
                                <input type="text" ng-model="search" class="search-input" placeholder="Tìm kiếm">
                            </div>
                        </div>
                    </form>-->
                </div>

                <div class="crashier-table-body">
                    <div class="crashier-table-row">
                        <div class="crashier-table-item" dir-paginate="item in tables |filter:search |itemsPerPage:15" pagination-id="tables">

                            <div ng-if="item.Status == 1 || item.Status == 3"
                                 ng-click="showBill(item)" class="crashier-btn-table pointer">
                                <div style="background-color:#1ebb1e; color:white" class="crashier-btn-title-table">
                                    {{item.Name}}
                                </div>
                            </div>
                            <div ng-if="item.Status == 0 "
                                 ng-click="showBill(item)" class="crashier-btn-table pointer">
                                <div style="background-color:#d14743; color:white" class="crashier-btn-title-table ">
                                    {{item.Name}}
                                </div>
                            </div>
                            <div ng-if="item.Status == 2 "
                                 ng-click="showBill(item)" class="crashier-btn-table pointer">
                                <div style="background-color:#f7b924; color:white" class="crashier-btn-title-table">
                                    {{item.Name}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="cashier-table-footer">
                    <div class="customeize-pagination">
                        <dir-pagination-controls max-size="5"
                                                 direction-links="true"
                                                 pagination-id="tables"
                                                 boundary-links="true">
                        </dir-pagination-controls>
                    </div>
                </div>
            </div>
        </div>

        <!--dishplay the list dishes-->
        <div ng-if="tabselector == 'listDish'">
            <div class="crashier-table-content">
                <!--header to search table-->
                <div class="crashier-table-header">
                    <label style="padding: 10px 10px 0px 10px;" class="card-title customize-font-green-color">Lọc món &nbsp;</label>
                    <form class="search-wrapper active">
                        <div class="input-holder">
                            <div class="input-holder">
                                <input type="text" ng-model="searchDish" class="search-input" placeholder="Tìm kiếm">
                            </div>
                        </div>
                    </form>
                </div>

                <div class="crashier-table-body">

                    <div class="crashier-table-row">
                        <div id="arrDish" class="crashier-table-item" dir-paginate="DishItem in dishes |filter:searchDish |itemsPerPage:15" pagination-id="dishes">
                            <div ng-if="DishItem.Status == 1 && DishItem.Amount > 0"
                                 ng-dblclick="return false;" ng-disabled="flag"
                                 ng-click="addDish(DishItem)"  class="crashier-btn-dish pointer">
                                <img class="crashier-img" src="{{DishItem.Image}}" />
                                <div style="color:#1ebb1e" class="crashier-btn-title">
                                    {{DishItem.Name}}
                                </div>
                            </div>
                            <div ng-if="DishItem.Status == 0 || DishItem.Amount < 1" style="opacity:0.7"
                                 class="crashier-btn-dish-not-avaiable">
                                <img class="crashier-img" src="{{DishItem.Image}}" />
                                <div style="color:red" class="crashier-btn-title customize-font-bold">
                                    {{DishItem.Name}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="cashier-table-footer">
                    <div class="customeize-pagination">
                        <dir-pagination-controls max-size="5"
                                                 direction-links="true"
                                                 pagination-id="dishes"
                                                 boundary-links="true">
                        </dir-pagination-controls>
                    </div>
                </div>
            </div>
        </div>

        <!--display the list combos-->
        <div ng-if="tabselector == 'combo'">
            <div class="crashier-table-content">
                <!--header to search table-->
                <div class="crashier-table-header">
                    <label style="padding: 10px 10px 0px 10px;" class="card-title customize-font-green-color">Lọc combo &nbsp;</label>
                    <form class="search-wrapper active">
                        <div class="input-holder">
                            <div class="input-holder">
                                <input type="text" ng-model="searchCombo" class="search-input" placeholder="Tìm kiếm">
                            </div>
                        </div>
                    </form>
                </div>

                <div class="crashier-table-body">

                    <div class="crashier-table-row">
                        <div id="arrCombo" class="crashier-table-item" dir-paginate="comboItem in combos |filter:searchCombo |itemsPerPage:15" pagination-id="combos">
                            <div ng-if="comboItem.Status == true && comboItem.Amount > 0"
                                 ng-click="addCombo(comboItem)" class="crashier-btn-dish pointer">
                                <img class="crashier-img" src="{{comboItem.Image}}" />
                                <div style="color:#1ebb1e" class="crashier-btn-title">
                                    {{comboItem.Name}}
                                </div>
                            </div>
                            <div ng-if="comboItem.Status == false || comboItem.Amount < 1" style="opacity:0.7"
                                 class="crashier-btn-dish-not-avaiable">
                                <img class="crashier-img" src="{{comboItem.Image}}" />
                                <div style="color:red" class="crashier-btn-title customize-font-bold">
                                    {{comboItem.Name}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="cashier-table-footer">
                    <div class="customeize-pagination">
                        <dir-pagination-controls max-size="5"
                                                 direction-links="true"
                                                 pagination-id="combos"
                                                 boundary-links="true">
                        </dir-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--display the bill detail the left div-->
    <div class="cashier-child-right column">
        <div class="topnav">
            <a class="active" style="float:right" href="#home">Đăng xuất</a>
        </div>

        <div class="crashier-billDetail-content">

            <!--<div class="crashier-billDetail-header"></div>-->

            <div class="crashier-billDetail-body">

                <div class="mb-0 table table-striped">
                    <h5 class="card-title customize-font-green-color">Hóa đơn {{curTable.Name}}</h5>
                    <table class="mb-0 table mb-0 table table-hover">
                        <thead>
                            <tr>
                                <th style="width:10%" class="customize-font-green-color"><i class="fas fa-sort-down"></i></th>
                                <th style="width:25%; text-align:left" class="customize-font-green-color">Mặt hàng</th>
                                <th style="width:20%; text-align:center" class="customize-font-green-color">Số lượng</th>
                                <th style="width:20%; text-align:center" class="customize-font-green-color">Đơn giá</th>
                                <th style="width:20%; text-align:center" class="customize-font-green-color">Thành tiền</th>
                                <td style="width:10%"></td>
                            </tr>
                        </thead>
                        <tbody >
                            <tr class="customize-font-green-color" 
                                dir-paginate="cartItem in curCart.CartDetails |itemsPerPage:itemPerPage" pagination-id="cartDetail" on-page-change='indexCount(newPageNumber)'>
                                <td>{{ $index + serial}}</td>
                                <td style="text-align:left">{{cartItem.Name}}</td>
                                <td style="text-align:center">
                                    <div ng-if="cartItem.Status == 0">{{cartItem.Quantity}}</div>
                                    <input ng-if="cartItem.Status == 1"
                                           class="crashier-cart-quantity" type="number"
                                           ng-model="cartItem.Quantity"
                                           ng-change="quantityChange(cartItem)"
                                           min="0" oninput="this.value = Math.abs(this.value)">
                                    <div ng-if="cartItem.Status == 2">{{cartItem.Quantity}}</div>
                                    <div ng-if="cartItem.Status == 3">{{cartItem.Quantity}}</div>
                                </td>
                                <td style="text-align:center">{{cartItem.Price | currency : "" : 0}}</td>
                                <td style="text-align:center">{{cartItem.Quantity*cartItem.Price | currency : "" : 0}}</td>
                                <td ng-if="cartItem.Status == 0">
                                    <i class="fas fa-window-close"></i>
                                </td>
                                <td ng-if="cartItem.Status == 1">
                                    <button class="btn delete-icon" ng-click="dishDel(cartItem)">
                                        <i class="fas fa-trash f1f8 customize-delete-icon"></i>
                                    </button>
                                </td>
                                <td ng-if="cartItem.Status == 2">
                                    <i class="fas fa-hourglass-start"></i>
                                </td>
                                <td ng-if="cartItem.Status == 3">
                                    <i class="fas fa-check-circle"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="crashier-billDetail-bottom">
            <div class="crashier-billDetail-total">
                <div class="div-footer-billdetail">
                    <div class="row1" style="display:flex; margin:2px;">
                        <label style="text-align:left; width:25%" class="customize-font-green-color">
                            Nội dung: &nbsp;
                        </label>
                        <input style="text-align:right; width:15%" class="customeize-input" type="text"
                               ng-model="ContentBill">
                        <label style="text-align:left; width:45%" class="customize-font-green-color">
                            &nbsp; Tổng tiền : {{totalPrice | currency : "" : 0}} VNĐ
                        </label>
                    </div>
                    <div class="row2" style="display:flex; margin:2px;">
                        <label style="text-align:left; width:25%" class="customize-font-green-color">
                            Mã giảm giá: &nbsp;
                        </label>
                        <input style="text-align:right; width:15%" class="customeize-input" type="text"
                               ng-model="CustomerPromotions" ng-change="promotionEvt()">
                        <label style="text-align:left; width:40%" class="customize-font-green-color">
                            &nbsp; Giảm giá : {{Promotions.Discount | percentFilter}}
                            <i ng-show="avaiablePromotion" class="fas fa-check-circle ng-hide customize-font-green-color"></i>
                        </label>
                    </div>
                    <div class="row3" style="display:flex; margin:2px;">
                        <label style="text-align:left; width:25%" class="customize-font-green-color">
                            Khách hàng: &nbsp;
                        </label>
                        <input style="text-align:right; width:15%" class="customeize-input" type="text"
                               ng-model="CustomerName">
                        <label style="text-align:left; width:45%" class="customize-font-green-color">
                            &nbsp; Thanh toán : {{paymentPrice | currency : "" : 0}} VNĐ
                        </label>
                    </div>
                    <!--<div class="row4" style="display:flex; margin:2px;">
                        <label style="text-align:left; width:25%" class="customize-font-green-color">
                            Tiền khách trả: &nbsp;
                        </label>
                        <input style="text-align:right; width:15%" class="customeize-input" type="text"
                               ng-model="cusPaymentPrice" format="currency" >
                        <label style="text-align:left; width:45%" class="customize-font-green-color">
                            &nbsp; Số tiền thừa : {{(cusPaymentPrice - paymentPrice ) | currency : "₫ " : 0}}
                        </label>
                    </div>-->
                </div>
            </div>

            <div class=" crashier-billDetail-action">
                <div class="crashier-billDetail-action-lsBoxTB">
                    <select class="customize-font-green-color form-control"
                            ng-class="{'customize-font-green-color':y.Status==1,'customize-font-blue-color':y.Status==0}"
                            ng-model="changeTable" ng-options="y.ID as y.Name for (x,y) in tables">
                        <option selected disabled value="">Chuyển tới</option>
                    </select>
                </div>
                <div class="crashier-billDetail-action-changeTB">
                    <button class="mb-2 mr-2 btn btn-success" type="button" ng-click="changeTableEvt()">Chuyển bàn</button>
                </div>
                <!--<div class="crashier-billDetail-action-order">
                    <button class="mb-2 mr-2 btn btn-success" style="margin-left:15px" type="button" ng-click="Order()">Đặt món</button>
                </div>-->
                <div class="crashier-billDetail-action-payment">
                    <button class="mb-2 mr-2 btn btn-danger" style="margin-left:15px" type="button" ng-click="Payment()">Thanh toán</button>
                </div>
            </div>
        </div>
    </div>
</div>