<div class="row" style="background-color:white; padding:10px;">
    <div class="col-md-5">

        <div class="main-card mb-3 card" style="border:hidden; box-shadow:none;">
            <div class="card-body">
                <h4 class="card-title customize-font-blue-color"> Chi tiết combo </h4>
                <form novalidate name="frmEditsCombo" role="form">

                    <div class="position-relative form-group">
                        <label class="customize-font-blue-color">Tên combo </label>
                        <input type="text" class="form-control customize-border-blue" required name="comboName" ng-maxlength="256" ng-model="comboEdt.Name">
                        <span ng-show="frmEditsCombo.comboName.$invalid" class="had-error">*Hãy nhập tên combo</span>
                        <span ng-show="frmEditsCombo.comboName.$error.maxlength.invalid" class="had-error">Tên combo quá dài</span>
                    </div>

                    <div class="position-relative form-group">
                        <label class="customize-font-blue-color">Giá bán </label>
                        <span class="customize-font-blue-color">{{comboEdt.Price | currency:"VNĐ ":0}}</span>
                        <input required name="comboPrice" type="number" class="form-control customize-border-blue" ng-model="comboEdt.Price"
                               min="0" oninput="this.value = Math.abs(this.value)">
                        <span ng-show="frmEditsCombo.comboPrice.$invalid" class="had-error">*Phải nhập giá bán</span>
                    </div>

                    <div class="position-relative form-group">
                        <label class="customize-font-blue-color">Nhập số lượng</label>
                        <input required name="comboAmount" type="number" class="form-control customize-border-blue" ng-model="comboEdt.Amount"
                               min="0" oninput="this.value = Math.abs(this.value)">
                        <span ng-show="frmEditsCombo.comboAmount.$invalid" class="had-error">*Hãy nhập giá cấu thành sản phẩm</span>
                    </div>

                    <div class="position-relative form-group">
                        <label class="customize-font-blue-color">Món trong combo</label>
                        <div>
                            <div class="div-dish-in-combo customize-border-blue">
                                <div class="crashier-table-row">
                                    <div class="" ng-repeat="(x, y) in comboEdt.dishes">
                                        <div class="btn-choose-dish-in-combo pointer" ng-click="delDishInCombo(y)">
                                            <div class="div-choose-dish-in-combo-name"> {{y.Name}}</div>
                                            <div class="div-choose-dish-in-combo-amount">{{y.Amount}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="position-relative form-group">
                        <label class="customize-font-blue-color">Mô tả combo</label>
                        <textarea name="comboDescription" class="form-control customize-border-blue" 
                                 ng-trim="boolean" ng-model="comboEdt.Description"></textarea>
                    </div>

                    <div class="position-relative form-group">
                        <div class="input-group">
                            <input style="width:100%" class="btn btn-primary btn-xs pull-center" type="file" id="file1"
                                   name="file" multiple onchange="angular.element(this).scope().uploadFile(this.files)" />
                        </div>
                        <br />
                        <img ng-src="{{comboEdt.Image}}" class="admin-img" ng-show="comboEdt.Image" />
                    </div>

                    <!--<div class="position-relative form-group">
                        <label class="customize-font-blue-color">Ngày tạo :</label>
                        <label class="customize-font-blue-color"></label>
                    </div>-->

                    <fieldset class="position-relative row form-group">
                        <legend class="col-form-label col-sm-6 customize-font-blue-color">Trạng thái</legend>
                        <div class="col-sm-10">
                            <div class="position-relative form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" ng-model="comboEdt.Status" ng-value="true" />Khả dụng
                                </label>
                            </div>
                            <div class="position-relative form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" ng-model="comboEdt.Status" ng-value="false" />
                                    Tạm dừng
                                </label>
                            </div>
                        </div>
                    </fieldset>

                    <div class="nav-table-bar-parent">
                        <!--<div class="box-2">-->
                        <button type="submit" ng-disabled="frmEditsCombo.$invalid" class="mb-2 mr-2 btn btn-primary" ng-click="updateCombo()">Lưu lại</button>
                        <button class="mb-2 mr-2 btn btn-danger" style="margin-left:15px" ng-click=Cancel()>Hủy bỏ</button>
                        <!--</div>
                        <div class="box-1">
                        </div>
                        <div class="box-3">
                        </div>
                        <div class="box-4">
                        </div>-->
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-7">
        <!--dishplay the list dishes-->
        <div style="padding: 0px 5% 0px 8%">
            <!--header to search table-->
            <div class="">
                <div class="row" style="padding-top:18px; padding-left:20px;padding-bottom:20px;">
                    <div class="col-md-push-5"><h4 class="customize-font-blue-color"> Chọn món cho combo &nbsp; </h4></div>
                    <div class="col-md-push-7">
                        <form class="">
                            <div class="input-holder">
                                <div class="input-holder">
                                    <input type="text" ng-model="searchDish" class="customeize-input-search" placeholder="Tìm kiếm">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="main-card mb-3 card" style="border:hidden; box-shadow:none;">

                <div class="crashier-table-row">
                    <div class="crashier-table-item pointer" dir-paginate="DishItem in dishes |filter:searchDish |itemsPerPage:16" pagination-id="dishes">
                        <div ng-click="addDish(DishItem)" class="btn-dish">
                            <img class="crashier-img" src="{{DishItem.Image}}" />
                            <div style="color:#2d6ca2" class="crashier-btn-title">
                                {{DishItem.Name}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="">
                <div class="customeize-pagination">
                    <dir-pagination-controls max-size="5"
                                             direction-links="true"
                                             pagination-id="dishes"
                                             boundary-links="true">
                    </dir-pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>