<div class="main-card mb-3 card" style="border:hidden">
    <div class="card-body">
        <h4 class="card-title customize-font-blue-color"> Thông tin chi tiết combo : {{edtCombo.Name}}</h4>
        <form novalidate name="frmEditsCombo" role="form">
            <div class="position-relative form-group">
                <label class="">Tên combo </label>
                <input required name="comboName" ng-model="edtCombo.Name" type="text" class="form-control">
                <span ng-show="frmEditsCombo.comboName.$invalid" class="had-error">*Hãy nhập tên combo</span>
                <span ng-show="frmEditsCombo.comboName.$error.maxlength.invalid" class="had-error">Tên combo quá dài</span>
            </div>
            <div class="position-relative form-group">
                <label for="exampleEmail" class="">Giá bán</label>
                <input required name="comboPrice" ng-model="edtCombo.Price" placeholder="Nhập giá bán" type="number" class="form-control">
                <span ng-show="frmEditsCombo.comboPrice.$invalid" class="had-error">*Phải nhập giá bán</span>
            </div>
            <div class="position-relative form-group">
                <label for="examplePassword" class="">Số lượng</label>
                <input required name="comboAmount" ng-model="edtCombo.Amount" type="text" class="form-control">
                <span ng-show="frmEditsCombo.comboAmount.$invalid" class="had-error">*Hãy nhập số lượng</span>
            </div>                     

            <div class="position-relative form-group">
                <label for="exampleText" class="">Mô tả combo</label>
                <textarea name="description" class="form-control" ng-model="edtCombo.Description"></textarea>
            </div>

            <div class="position-relative form-group">
                <label for="exampleFile" class="">Chèn ảnh</label>
                <input name="file"  type="file" class="form-control-file" ng-model="edtCombo.Image" ng-change="slectedChange($event)">
                <!--<small class="form-text text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small>-->
            </div>

            <!--<div class="position-relative form-group">
                <label for="examplePassword" class="">Số lượng đã bán ra: </label>
                <label>{{edtCombo.OrderCount | orderCountFilter }}</label>
            </div>-->

            <!--<div class="position-relative form-group">
                <label class="">Ngày khởi tạo combo: </label>
                <label>{{edtCombo.CreatedDate | date:'dd-MM-yyyy'}}</label>
            </div>-->

            <fieldset class="position-relative row form-group">
                <legend class="col-form-label col-sm-2">Trạng thái combo</legend>
                <div class="col-sm-10">
                    <div class="position-relative form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" ng-model="edtCombo.Status" ng-value="true" />Khả dụng
                        </label>
                    </div>
                    <div class="position-relative form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" ng-model="edtCombo.Status" ng-value="false" />
                            Tạm ngừng
                        </label>
                    </div>
                </div>
            </fieldset>

            <div class="nav-table-bar-parent">
                <!--<div class="box-2">-->
                <button class="mb-2 mr-2 btn btn-primary" ng-disabled="frmEditsCombo.$invalid" ng-click="updateCombo()">Lưu lại</button>
                <button class="mb-2 mr-2 btn btn-danger" style="margin-left:15px" ng-click=closeThisDialog(0)>Hủy bỏ</button>
            <!--</div>-->
                <!--<div class="box-1">                  
                </div>
                <div class="box-3">                     
                </div>
                <div class="box-4">                   
                </div>-->
            </div>

        </form>
    </div>
</div>