<div class="main-card mb-3 card">
    <div class="card-body">
        <h4 class="card-title customize-font-blue-color">Danh sách mã giảm giá</h4>

        <div class="nav-table-bar-parent">
            <div class="box-1">
                <h4 class="card-title customize-font-blue-color">THANH CÔNG CỤ</h4>
            </div>
            <div class="box-2">
                <form class="search-wrapper active">
                    <div class="input-holder">
                        <div class="input-holder">
                            <input type="text" ng-model="search" class="search-input" placeholder="Tìm kiếm">
                        </div>
                    </div>
                </form>
            </div>
            <div class="box-3"></div>
            <div class="box-4"></div>
            <div class="box-5">
                <h4 class="card-title customize-font-blue-color" style="float:right">Tạo mã giảm giá </h4>
            </div>
            <div class="box-6">
                <button type="button" class="btn-shadow p-1 btn btn-primary" ng-click="promotionAdd()">
                    <i class="fas fa-plus-circle"></i>
                </button>
            </div>
        </div>

        <div class="table-responsive">
            <table class="mb-0 table mb-0 table table-hover">
                <thead>
                    <tr>
                        <th class="cornflowerblue" style="width:10%" ng-click="sort('ID')">Mã</th>
                        <th class="cornflowerblue div-text-align-center" style="width:20%">Mã giảm giá</th>
                        <th class="cornflowerblue div-text-align-center" style="width:10%" ng-click="sort('Discount')" >Giảm %</th>
                        <th class="cornflowerblue div-text-align-center" style="width:20%" ng-click="sort('ExpiredDate')">Hiệu lực đến</th>
                        <th class="cornflowerblue div-text-align-center" style="width:15%" ng-click="sort('Status')">Trạng thái</th>
                        <th class="cornflowerblue div-text-align-center" style="width:20%" ng-click="sort('CreatedDate')">Ngày tạo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="item in promotions |filter:search |orderBy:sortKey:reverse|filter:search |itemsPerPage:10">
                        <td ng-click="openDialog($event,item)">{{item.ID}}</td>
                        <td ng-click="openDialog($event,item)">{{item.Code}}</td>
                        <td class="div-text-align-center" ng-click="openDialog($event,item)">{{item.Discount | percentFilter}}</td>
                        <td class="div-text-align-center" ng-click="openDialog($event,item)">{{item.ExpiredDate | date:"dd-MM-yyyy"}}</td>
                        <td ng-click="vm.openDialog($event,item)">
                            <span style="width:80%; float:right" ng-class="{'mb-2 mr-2 btn btn-success':item.Status==1,'mb-2 mr-2 btn btn-danger':item.Status==0}">
                                {{item.Status | avaiableFilter}}
                            </span>
                        </td>
                        <td class="div-text-align-center" ng-click="openDialog($event,item)">{{item.CreatedDate | date:"dd-MM-yyyy"}}</td>
                        <!--<td>
        <button class="btn delete-icon" ng-click="mateDel(item)">
            <i class="fas fa-trash f1f8 customize-delete-icon"></i>
        </button>
    </td>-->
                    </tr>
                </tbody>
            </table>

            <div class="customeize-pagination">
                <dir-pagination-controls max-size="5"
                                         direction-links="true"
                                         boundary-links="true">
                </dir-pagination-controls>
            </div>
        </div>
    </div>
</div>


