

<div class="main-card mb-3 card">
    <div class="card-body">
        <h4 class="card-title customize-font-blue-color">Danh sách nguyên liệu</h4>
        <div class="table-responsive">
            <table class="mb-0 table mb-0 table table-hover">
                <thead>
                    <tr>
                        <th>Mã code</th>
                        <th>Tên nguyên liệu</th>
                        <th>Giá tiền</th>
                        <th>Số lượng</th>
                        <th>Đơn vị</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in materials;">
                        <td>{{item.ID}}</td>
                        <td>{{item.Name}}</td>
                        <td>{{item.Price}}</td>
                        <td>{{item.Amount}}</td>
                        <td>{{item.Unit}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


