<div class="main-card mb-3 card" style="border:hidden">
    <div class="card-body">
        <h4 class="card-title customize-font-blue-color"> Thông tin chi tiết món : {{dish.Name}}</h4>
        <form novalidate name="frmEditsDish" role="form">
            <div class="position-relative form-group">
                <label class="">Tên món </label>
                <input required name="dishName" ng-model="edtDish.Name" placeholder="Nhập tên món" type="text" class="form-control">
                <span ng-show="frmEditsDish.dishName.$invalid" class="had-error">*Hãy nhập tên món</span>
                <span ng-show="frmEditsDish.dishName.$error.maxlength.invalid" class="had-error">Tên món quá dài</span>
            </div>

            <div class="position-relative form-group">
                <label>Giá bán </label>
                <span class="customize-font-bold">{{edtDish.Price | currency:"VNĐ ":0}}</span>
                <input required name="dishPrice" type="number" class="form-control" ng-model="edtDish.Price"
                       min="0" oninput="this.value = Math.abs(this.value)">
                <span ng-show="frmEditsDish.dishPrice.$invalid" class="had-error">*Phải nhập giá bán</span>
            </div>

            <div class="position-relative form-group">
                <label for="examplePassword" class="">Số lượng</label>               
                <input required name="dishAmount" ng-model="edtDish.Amount" type="number" class="form-control"
                       min="0" oninput="this.value = Math.abs(this.value)">
                <span ng-show="frmEditsDish.dishAmount.$invalid" class="had-error">*Hãy nhập số lượng cho món</span>
            </div>

            <div class="position-relative form-group">
                <label for="exampleSelect" class="">Nhóm món ăn</label>
                <select name="dishCategory" class="form-control" ng-model="edtDish.CategoryID" ng-options="option.ID as option.Name for option in DishCategory"></select>
                <!-- <input type="hidden" name="dishCategory" ng-model="dish.CategoryID" />-->
            </div>

            <div class="position-relative form-group">
                <label for="exampleText" class="">Mô tả chi tiết món</label>
                <textarea name="description" class="form-control" ng-model="edtDish.Description"></textarea>
            </div>

            <div class="position-relative form-group">              
                <div class="input-group">
                    <input class="btn btn-primary col-md-6" type="file" id="file1" name="file" accept="image/*"
                           multiple onchange="angular.element(this).scope().uploadFile(this.files)" />
                    <!--<label for="image" class="btn btn-success btn-xs pull-center" name="upload" Value="">Upload Photo</label>-->
                </div>
                <br />
                <img ng-src="{{edtDish.Image}}"class="admin-img" ng-show="edtDish.Image" />
            </div>

            <div class="position-relative form-group">
                <label for="examplePassword" class="">Số lượng đã bán ra: </label>
                <label>{{edtDish.OrderCount | orderCountFilter }}</label>
            </div>

            <div class="position-relative form-group">
                <label for="examplePassword" class="">Ngày khởi tạo món: </label>
                <label>{{edtDish.CreatedDate | date:'dd-MM-yyyy'}}</label>
            </div>

            <fieldset class="position-relative row form-group">
                <legend class="col-form-label col-sm-2">Trạng thái món</legend>
                <div class="col-sm-10">
                    <div class="position-relative form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" ng-model="edtDish.Status" ng-value="1" />Có sẵn
                        </label>
                    </div>
                    <div class="position-relative form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" ng-model="edtDish.Status" ng-value="0" />
                            Tạm hết
                        </label>
                    </div>
                </div>
            </fieldset>

            <div class="nav-table-bar-parent">
                <!--<div class="box-2">-->
                <button class="mb-2 mr-2 btn btn-primary" ng-disabled="frmEditsDish.$invalid" ng-click="updateDish()">Lưu lại</button>
                <button class="mb-2 mr-2 btn btn-danger" style="margin-left:15px" ng-click=closeThisDialog(0)>Hủy bỏ</button>
            <!--</div>-->
                <!--<div class="box-1">                  
                </div>
                <div class="box-3">                     
                </div>
                <div class="box-4">                   
                </div>-->
            </div>

        </form>
    </div>
</div>