<div class="main-card mb-3 card" style="border:hidden">
    <div class="card-body">
        <h4 class="card-title customize-font-blue-color"> Thêm món mới </h4>
        <form  novalidate name="frmAddDish" role="form">

            <div class="position-relative form-group">
                <label  >Tên món </label>
                <input type="text" class="form-control" required name="dishName" ng-maxlength="256" ng-model="dishAdd.Name">
                <span ng-show="frmAddDish.dishName.$invalid" class="had-error">*Hãy nhập tên món</span>
                <span ng-show="frmAddDish.dishName.$error.maxlength.invalid" class="had-error">Tên món quá dài</span>
            </div>

            <div class="position-relative form-group">
                <label  >Giá bán</label>
                <input required name="dishPrice" type="number" class="form-control" ng-model="dishAdd.Price">
                <span ng-show="frmAddDish.dishPrice.$invalid" class="had-error">*Phải nhập giá bán</span>
            </div>

            <div class="position-relative form-group">
                <label for="examplePassword" >Giá cấu thành sản phẩm</label>
                <input required name="dishAmount" type="number" class="form-control" ng-model="dishAdd.Amount">
                <span ng-show="frmAddDish.dishAmount.$invalid" class="had-error">*Hãy nhập giá cấu thành sản phẩm</span>
            </div>

            <div class="position-relative form-group ">
                <label for="exampleSelect" >Nhóm món ăn</label>
                <select required name="dishCategory" class="form-control"
                        ng-model="dishAdd.CategoryID" ng-options="option.ID as option.Name for option in DishCategory">
                    <option selected disabled value="">-- Nhóm --</option>
                </select>
                <span ng-show="frmAddDish.dishCategory.$error.required" class="had-error">*Vui lòng chọn nhóm món ăn</span>
            </div>

            <div class="position-relative form-group">
                <label for="exampleText" >Mô tả chi tiết món</label>
                <textarea name="dishDescription" class="form-control" ng-model="dishAdd.Description">
            </textarea>
            </div>

            <div class="position-relative form-group">
                <!--<label for="exampleFile">Chèn ảnh</label>
                <input name="file" id="exampleFile" type="file" class="form-control-file" ng-model="dishAdd.Image">-->
                <!--<small class="form-text text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small>-->

                <div class="input-group">
                    <input id="image" class="hidden" type="file" img-upload ng-model="imageName" onchange="angular.element(this).scope().test(this)" name="imageName">
                    <img ng-src="{{image}}" height="300" width="400" ng-show="image" />
                    <!--<label for="image" class="btn btn-success btn-xs pull-center" name="upload" Value="">Upload Photo</label>-->
                </div>

            </div>

            <fieldset class="position-relative row form-group">
                <legend class="col-form-label col-sm-2">Trạng thái món</legend>
                <div class="col-sm-10">
                    <div class="position-relative form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" ng-model="dishAdd.Status" ng-value="1" />Có sẵn
                        </label>
                    </div>
                    <div class="position-relative form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" ng-model="dishAdd.Status" ng-value="0" />
                            Tạm hết
                        </label>
                    </div>
                </div>
            </fieldset>

            <div class="nav-table-bar-parent">
                <!--<div class="box-2">-->
                    <button type="submit" ng-disabled="frmAddDish.$invalid" class="mb-2 mr-2 btn btn-primary" ng-click="CreateDish()">Lưu lại</button>
                    <button class="mb-2 mr-2 btn btn-danger" style="margin-left:15px" ng-click=closeThisDialog(0)>Hủy bỏ</button>
                <!--</div>
                <div class="box-1">
                </div>
                <div class="box-3">
                </div>
                <div class="box-4">
                </div>-->
            </div>
        </form>
    </div>
</div>