<div class="main-card mb-3 card" ng-controller="listDishController as vm">
    <div class="card-body">
        <div></div>
        <h4 class="card-title customize-font-blue-color">Danh sách món</h4>

        <div class="nav-table-bar-parent">
            <div class="box-1">
                <h4 class="card-title customize-font-blue-color">THANH CÔNG CỤ</h4>
            </div>
            <div class="box-2">
                <form class="search-wrapper active">
                    <div class="input-holder">
                        <div class="input-holder">
                            <input type="text" ng-model="search" class="search-input" placeholder="Tìm kiếm">
                        </div>
                    </div>
                </form>
            </div>
            <div class="box-3">
                <h4 class="card-title customize-font-blue-color" style="float:right">Thêm món</h4>
            </div>
            <div class="box-4">
                <button type="button" class="btn-shadow p-1 btn btn-primary" ng-click="dishAdd()">
                    <i class="fas fa-plus-circle"></i>
                </button>
            </div>
            <div class="box-5">
                <h4 class="card-title customize-font-blue-color" style="float:right">Thêm loại sản phẩm  </h4>
            </div>
            <div class="box-6">
                <button type="button" class="btn-shadow p-1 btn btn-primary" ng-click="AddCategory()">
                    <i class="fas fa-plus-circle"></i>
                </button>
            </div>
        </div>

        <!--<form class="search-wrapper active">
            <div class="input-holder">
                <div class="input-holder">
                    <input type="text" ng-model="search" class="search-input" placeholder="Tìm kiếm">
                </div>
            </div>
        </form>-->

        <div class="table-responsive">
            <table class="mb-0 table mb-0 table table-hover">
                <thead>
                    <tr>
                        <th ng-click="sort('ID')">ID</th>
                        <th ng-click="sort('Name')">Tên món</th>
                        <th ng-click="sort('Price')">Giá bán</th>
                        <th ng-click="sort('Amount')">Giá nhập</th>
                        <th ng-click="sort('Status')">Trạng thái</th>
                        <th ng-click="sort('OrderCount')" style="width:8%;text-align:center">Đã bán</th>
                        <th ng-click="sort('CreatedDate')" style="text-align:center">Ngày khởi tạo</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="item in dishes |filter:search |orderBy:sortKey:reverse|filter:search |itemsPerPage:10">
                        <td ng-click="vm.openDialog($event,item)">{{item.ID}}</td>
                        <td ng-click="vm.openDialog($event,item)">{{item.Name}}</td>
                        <td ng-click="vm.openDialog($event,item)">{{item.Price}}</td>
                        <td ng-click="vm.openDialog($event,item)">{{item.Amount}}</td>
                        <td ng-click="vm.openDialog($event,item)">
                            <span ng-class="{'avaiabe-div':item.Status===1,'not-avaiabe-div':item.Status===0}">
                                {{item.Status | statusFilter}}
                            </span>
                        </td>
                        <td ng-click="vm.openDialog($event,item)" style="width:8%; text-align:center">{{item.OrderCount | orderCountFilter}}</td>
                        <td ng-click="vm.openDialog($event,item)" style="text-align:center">{{item.CreatedDate | date:'dd-MM-yyyy'}}</td>
                        <td>
                            <button class="btn delete-icon" ng-click="dishDel(item)">
                                <i class="fas fa-times-circle"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <dir-pagination-controls max-size="5"
                                     direction-links="true"
                                     boundary-links="true">
            </dir-pagination-controls>
        </div>
    </div>
</div>